body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1 {
    color: green;
}

.bookcover {
    height: 300px;
    width: auto;
}

span {
    color: green;
    text-transform: capitalize;
    font-style: italic;
}